@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');


body, html{
    margin: 0;
    padding: 0;
}

.volver{
    position: fixed;
    padding: 10px;
    outline: none;
    border: none;
    z-index: 2;
    margin: 10px;
    border-radius: 50px;
    background-color: #f5deb3;
}

.volver:hover{
    cursor: pointer;
    background-color: #807665;
    color: wheat;
}

.proyecto{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.proyecto .barra-superior{
    position: relative;
    height: 10vh;
    width: 100%;
    background-color: rgb(177, 169, 159);
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyecto .barra-superior h1{
    padding: 20px;
    width: 60%;
    text-align: center;
    background-color: white;
    font-family: 'Cinzel';
    font-weight: normal;
    border-radius: 50px;
}

.proyecto .proyecto-info{
    position: relative;
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
}

.proyecto .proyecto-info .imagenes-proyecto{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.proyecto .proyecto-info img{
    position: relative;
    width: 90%;
    height: 60%;
    align-self: center;
}

.proyecto .proyecto-info .imagenes-proyecto .imagenes-izquierda{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    align-self: center;
    justify-content: center;
}

.proyecto .proyecto-info .imagenes-proyecto .imagenes-izquierda img{
    height: 70%;
    width: 90%;
}

.proyecto .proyecto-info .imagenes-proyecto .imagen-derecha{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-content: center;
}

.proyecto .proyecto-info .imagenes-proyecto .imagen-derecha img{
    height: 60%;
    width: 90%;
}

.proyecto .proyecto-info p,
.proyecto .proyecto-info strong{
    position: relative;
    align-self: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: justify;
    line-height: 1.6;
}

.proyecto .proyecto-info strong{
    font-weight: bolder;
}

.proyecto .proyecto-info .texto{
    position: relative;
    align-self: center;
    margin: 10px;
    width: 90%;
}

/*-----------------MAS IMAGENES------------------------------*/

.mas-imagenes{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(177, 169, 159);;
}

.mas-imagenes .barra-superior{
    position: relative;
    width: 100%;
    background-color: rgb(177, 169, 159);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mas-imagenes .barra-superior h1{
    padding: 20px;
    width: 60%;
    text-align: center;
    background-color: white;
    font-family: 'Cinzel';
    font-weight: normal;
    border-radius: 50px;
}

.mas-imagenes .imagenes{
    position: relative;
    width: 80%;
    height: 20%;
    display: grid;
    justify-content: center;
    padding: 10px;
    background-color: white;
}

.mas-imagenes .imagenes img{
    position: relative;
    width: 450px;
    height: 400px;
    align-self: center;
}

@media (min-width: 0) and (max-width: 767px) {

    .proyecto .barra-superior h1{
        padding: 5px 20px 5px 20px;
        font-size: 15px;
    }

    .proyecto .proyecto-info{
        width: 100%;
        grid-template-rows: 1.5fr 1.5fr;
        grid-template-columns: none;
    }

    .proyecto .proyecto-info img{
        height: 100%;
    }

    .proyecto .proyecto-info .imagenes-proyecto .imagenes-izquierda img{
        height: 60%;
        width: 90%;
    }

    .proyecto .proyecto-info .imagenes-proyecto .imagen-derecha{
        align-self: center;
    }

    .proyecto .proyecto-info .imagenes-proyecto .imagen-derecha img{
        height: 50%;
        width: 90%;
    }

    .proyecto .proyecto-info p,
    .proyecto .proyecto-info strong{
        font-size: 15px;
        text-align: justify;
        line-height: 1.2;
    }

    .mas-imagenes .barra-superior h1{
        padding: 5px 20px 5px 20px;
        font-size: 15px;
    }

    .mas-imagenes .imagenes img{
        position: relative;
        width: 32%;
        height: 200px;
    }

    .mas-imagenes .imagenes{
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 1008px) {

    .proyecto .barra-superior h1{
        padding: 10px 20px 10px 20px;
        font-size: 25px;
    }

    .proyecto .proyecto-info{
        width: 100%;
        grid-template-columns: 1.5fr 1.5fr;
    }

    .proyecto .proyecto-info img{
        height: 30%;
    }

    .proyecto .proyecto-info .imagenes-proyecto .imagenes-izquierda{
        align-self: center;
        justify-content: center;
    }

    .proyecto .proyecto-info .imagenes-proyecto .imagenes-izquierda img{
        height: 30%;
        width: 90%;
    }

    .proyecto .proyecto-info .imagenes-proyecto .imagen-derecha{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 50%;
        align-self: center;
        justify-content: center;
    }

    .proyecto .proyecto-info .imagenes-proyecto .imagen-derecha img{
        height: 70%;
        width: 90%;
    }

    .proyecto .proyecto-info p,
    .proyecto .proyecto-info strong{
        font-size: 18px;
        text-align: justify;
        line-height: 1.0;
    }
    
    .mas-imagenes .barra-superior h1{
        padding: 10px 20px 10px 20px;
        font-size: 25px;
    }

    .mas-imagenes .imagenes img{
        position: relative;
        width: 32.8%;
        height: 270px;
    }

    .mas-imagenes .imagenes{
        position: relative;
        width: 90%;
    }

}

@media (min-width:1008px) and (max-width: 1200px) {
    .proyecto .barra-superior h1{
        padding: 10px 20px 10px 20px;
        font-size: 25px;
    }

    .proyecto .proyecto-info .imagenes-proyecto .imagenes-izquierda{
        align-self: center;
        justify-content: center;
    }

    .proyecto .proyecto-info .imagenes-proyecto .imagenes-izquierda img{
        height: 40%;
        width: 90%;
    }

    .proyecto .proyecto-info .imagenes-proyecto .imagen-derecha{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        align-self: center;
        justify-content: center;
    }

    .proyecto .proyecto-info .imagenes-proyecto .imagen-derecha img{
        height: 70%;
        width: 90%;
    }

    .proyecto .proyecto-info p,
    .proyecto .proyecto-info strong{
        font-size: 15px;
        text-align: justify;
        line-height: 1.2;
    }

    .mas-imagenes .barra-superior h1{
        padding: 10px 20px 10px 20px;
        font-size: 25px;
    }

    .mas-imagenes .imagenes img{
        position: relative;
        width: 33%;
        height: 360px;
        align-self: center;
    }
}

@media (min-width:1200px) and (max-width: 1700px) {
    .proyecto .barra-superior h1{
        padding: 10px 20px 10px 20px;
        font-size: 25px;
    }

    .proyecto .proyecto-info .imagenes-proyecto .imagenes-izquierda{
        align-self: center;
        justify-content: center;
    }

    .proyecto .proyecto-info .imagenes-proyecto .imagenes-izquierda img{
        height: 50%;
        width: 90%;
    }

    .proyecto .proyecto-info .imagenes-proyecto .imagen-derecha{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        align-self: center;
        justify-content: center;
    }

    .proyecto .proyecto-info .imagenes-proyecto .imagen-derecha img{
        height: 70%;
        width: 90%;
    }

    .proyecto .proyecto-info p,
    .proyecto .proyecto-info strong{
        font-size: 25px;
        text-align: justify;
        line-height: 1.2;
    }

    .mas-imagenes .barra-superior h1{
        padding: 10px 20px 10px 20px;
        font-size: 25px;
    }

    .mas-imagenes .imagenes img{
        position: relative;
        width: 33%;
        height: 360px;
        align-self: center;
    }
}